<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/doclist.css">

    <title>Document</title>
</head>
<body>
    <div class="pavan">
        <div class="head">
            <div class="containar">
                <div class="one">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    Toll Free: +91(80)9512881324
                </div>
                <div class="two">
                    <i class="fa-sharp fa-solid fa-address-book"></i>
                    Contact us
                </div>
            </div>

            <button type="button" class="btn5"><a href="/user/login">Login Now</a></button>
            <button type="button" class="btn6"><a href="/user/paisent_regi">Registretion Now</a></button>

        </div>

      

       <div class="title">

        
         
        <h1>Consult Psychiatrist Online</h1>

        <div class="inp">

            <input type="text" placeholder="search here....">
            </div>

       </div>


       <div class="h33">

       <h3 >Top Verified Psychiatrists near you</h3>
    </div>

        <div class="doclist">
                     <div class="imgdoc">
                        <img src="https://docsapp-doctor.s3.us-west-2.amazonaws.com/profile_images/767.png" alt="">

                        <div  class="namedoc" >
                            <p>Dr.RasilaBen </p>

                        </div>

                        <div class="exdoc">
                               <p>8 years of Experience</p>
                        </div>

                        <div class="des">

                        </div>

                        <div class="star">
                        <i class="fa-solid fa-star">4.5  <span>--727 Rating</span></i>
                        </div>


                        <div  class="feedoc" >
                            <p>Consultation Fee</p>

                        </div>

                        <div class="fee1doc">
                               <p>300/- Rs</p>
                        </div>

                        <div class="btndoc">

                            <button type="button" class="btn btn-danger"><a href="/consult/register">Consult
                                Now</a></button>
                        </div>
                     </div>

                     
                 

        </div>
        <div class="doclist">
            <div class="imgdoc">
               <img src="https://docsapp-doctor.s3.us-west-2.amazonaws.com/profile_images/767.png" alt="">

               <div  class="namedoc" >
                   <p>Dr.RasilaBen </p>

               </div>

               <div class="exdoc">
                      <p>8 years of Experience</p>
               </div>

               <div class="des">

               </div>

               <div class="star">
               <i class="fa-solid fa-star">4.5  <span>--727 Rating</span></i>
               </div>


               <div  class="feedoc" >
                   <p>Consultation Fee</p>

               </div>

               <div class="fee1doc">
                      <p>300/- Rs</p>
               </div>

               <div class="btndoc">

                   <button type="button" class="btn btn-danger"><a href="/consult/register">Consult
                       Now</a></button>
               </div>
            </div>
        </div>

            <div class="doclist">
                <div class="imgdoc">
                   <img src="https://docsapp-doctor.s3.us-west-2.amazonaws.com/profile_images/767.png" alt="">

                   <div  class="namedoc" >
                       <p>Dr.RasilaBen </p>

                   </div>

                   <div class="exdoc">
                          <p>8 years of Experience</p>
                   </div>

                   <div class="des">

                   </div>

                   <div class="star">
                   <i class="fa-solid fa-star">4.5  <span>--727 Rating</span></i>
                   </div>


                   <div  class="feedoc" >
                       <p>Consultation Fee</p>

                   </div>

                   <div class="fee1doc">
                          <p>300/- Rs</p>
                   </div>

                   <div class="btndoc">

                       <button type="button" class="btn btn-danger"><a href="/consult/register">Consult
                           Now</a></button>
                   </div>
                </div>

                
            

   </div>

   <div class="doclist">
    <div class="imgdoc">
       <img src="https://docsapp-doctor.s3.us-west-2.amazonaws.com/profile_images/767.png" alt="">

       <div  class="namedoc" >
           <p>Dr.RasilaBen </p>

       </div>

       <div class="exdoc">
              <p>8 years of Experience</p>
       </div>

       <div class="des">

       </div>

       <div class="star">
       <i class="fa-solid fa-star">4.5  <span>--727 Rating</span></i>
       </div>


       <div  class="feedoc" >
           <p>Consultation Fee</p>

       </div>

       <div class="fee1doc">
              <p>300/- Rs</p>
       </div>

       <div class="btndoc">

           <button type="button" class="btn btn-danger"><a href="/consult/register">Consult
               Now</a></button>
       </div>
    </div>
</div>


<div class="doclist">
    <div class="imgdoc">
       <img src="https://docsapp-doctor.s3.us-west-2.amazonaws.com/profile_images/767.png" alt="">

       <div  class="namedoc" >
           <p>Dr.RasilaBen </p>

       </div>

       <div class="exdoc">
              <p>8 years of Experience</p>
       </div>

       <div class="des">

       </div>

       <div class="star">
       <i class="fa-solid fa-star">4.5  <span>--727 Rating</span></i>
       </div>


       <div  class="feedoc" >
           <p>Consultation Fee</p>

       </div>

       <div class="fee1doc">
              <p>300/- Rs</p>
       </div>

       <div class="btndoc">

           <button type="button" class="btn btn-danger"><a href="/consult/register">Consult
               Now</a></button>
       </div>
    </div>
</div>

<div class="doclist">
    <div class="imgdoc">
       <img src="https://docsapp-doctor.s3.us-west-2.amazonaws.com/profile_images/767.png" alt="">

       <div  class="namedoc" >
           <p>Dr.RasilaBen </p>

       </div>

       <div class="exdoc">
              <p>8 years of Experience</p>
       </div>

       <div class="des">

       </div>

       <div class="star">
       <i class="fa-solid fa-star">4.5  <span>--727 Rating</span></i>
       </div>


       <div  class="feedoc" >
           <p>Consultation Fee</p>

       </div>

       <div class="fee1doc">
              <p>300/- Rs</p>
       </div>

       <div class="btndoc">

           <button type="button" class="btn btn-danger"><a href="/consult/register">Consult
               Now</a></button>
       </div>
    </div>

</div>

            
        



</body>
</html>